* {
    box-sizing: border-box;
}
body {
    background-color: white;  
}


header {
    width: 100%;
    height: 89px;
    background-color: #404EED;
    display: flex;
    align-items: center;
    flex-direction: row;
}
header img {
    Width: 55.98px;
    Height: 56.64px;
    margin-left: 80px;
}
header h1 {
    font-family: New Rocker;
    font-size: 32px;
    color: #FCFCFC;
    margin-left: 16px;
}


main {
    width: 100%;
    height: 785px;
    background-color: white; 
    display: flex;
    justify-content: space-between;
}


.produtos {
    width: 683px;
    height: 785px;
    background-color: white; 
}


.modelo {
    Width: 385px;
    Height: 159px;
    margin-left: 140px;
    margin-top: 38px;
}
.modelo h1 {
    font-size: 18px ;
    font-weight: 400;
    font-family: roboto;
}
.modelos {
    Width: 500px;
    Height: 130px;
    margin-top: 10px;
    display: flex;
}

.item {
    margin-right: 40px;
    
}
.item h2 {
    font-family: roboto;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    text-align: center;
}
.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    border: 0.5px solid #C4C4C4;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.tecido {
    Width: 385px;
    Height: 159px;
    margin-left: 140px;
    margin-top: 38px;
}
.tecido h1 {
    font-size: 18px ;
    font-weight: 400;
    font-family: roboto;
}
.tecidos {
    Width: 500px;
    Height: 130px;
    margin-top: 10px;
    display: flex;
}

.gola {
    Width: 385px;
    Height: 159px;
    margin-left: 140px;
    margin-top: 38px;
}
.gola h1 {
    font-size: 18px ;
    font-weight: 400;
    font-family: roboto;
}
.golas {
    Width: 500px;
    Height: 130px;
    margin-top: 10px;
    display: flex;
}

.referencia {
    Width: 397px;
    Height: 71px;
    margin-left: 140px;
    margin-top: 38px;
}
.referencia h1 {
    font-size: 18px ;
    font-weight: 400;
    font-family: roboto;
    margin-bottom: 10px;
}


.link {
    Width:397px;
    Height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px;
    border: none;
}


button {
    Width: 399px;
    Height: 40px;
    background: #C4C4C4;
    font-weight: 400;
    border-radius: 10px;
    margin-left: 140px;
    margin-top: 20px;
    font-family: roboto;
    font-size: 20px;
    line-height: 23px;
    border: none;
}


.manequim {
    width: 50vw;
    height: 785px;
    background-color: #404EED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manequim img {
  width: 605px;
  height: 700px;
}


footer {
    width: 100%;
    height: 342px;
    background-color: #F2F2F2;
    font-family: roboto;
    display: flex;
    flex-direction: column;
}
footer h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: black;
    margin: auto;
    margin-left: 152px;
    margin-top: 30px;
    margin-bottom: 14px;
    display: flex;
    Width: 174px;
    Height: 28px;
}


.ultimospedidos {
    width: 1085px;
    height: 236.4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 149px;
    overflow: hidden;
    overflow-x:scroll
}   

.pedido {
    width: 201px;
    height: 240px;   
    background: #FFFFFF;
    border-radius: 20px;
    margin-right: 20px;
    
}

.pedido img {
    margin-top: 22px;
    width: 180px;
    height: 180px;
}
.pedido h2 {
    font-family: roboto;
    font-size: 20px;
    margin-left: 25px;
}

.selecionado {
    border: 3px solid #404EED;
    box-sizing: border-box;
}